<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta name="description" content="An awesome ranklist collection" />
  <meta name="keywords" content="programming,algorithm,ranklist,standings,编程,算法,程序设计,榜单" />
  <meta name="color-scheme" content="dark light">
  <meta name="darkreader-lock">
  <title>RankLand</title>
  <style>body{margin:0;background-color:#f0f2f5;opacity:0;transition:opacity 0.7s cubic-bezier(0.22, 0.61, 0.36, 1);}@media(prefers-color-scheme:dark){body{background-color:#000;}}</style>
  <script>
    var systemThemeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    document.documentElement.className = systemThemeMediaQuery.matches ? 'dark' : 'light';
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= context.config.define.GTAG %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= context.config.define.GTAG %>');
  </script>
</head>

<body>
  <!--[if IE]>
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank" rel="noreferrer noopener">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <script>
    const __darkReaderInjected = document.head.querySelector('.darkreader');
    __darkReaderInjected && __darkReaderInjected.remove();
  </script>
  <div id="root"></div>
</body>

</html>
