@import url("../assets/fonts/ZCOOL_XiaoWei/stylesheet.css");

.user-modal-segment-label {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  color: #ffffff;
}

.bg-segment-gold {
  background-color: var(--srk-color-gold);
}
.bg-segment-silver {
  background-color: var(--srk-color-silver);
}
.bg-segment-bronze {
  background-color: var(--srk-color-bronze);
}

.slogan {
  font-family: 'ZCOOL XiaoWei', serif;text-align: center;
  font-size: 32px;

  &::before {
    content: 'SLOGAN';
    display: block;
    font-size: 14px;
  }
}
